table{
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: 'Oswald' ,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
    
}
thead {
  background-color: rgb(228 240 245);
}
tr,th,td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
    
}
