
body {
  font-family: "Oswald", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}


table{
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: 'Oswald' ,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
  width: 100%;
}
thead {
  background-color: rgb(228 240 245);
}
tr,th,td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
#editBtn, #deleteBtn {
  background-color: #b94bd498;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  border-radius: 16px;
  width: 100px;
  transition: background-color 0.3s ease;
}
#editBtn:hover, #deleteBtn:hover {
  background-color: #7e12e4;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}


/*index.html styling */
#viewUsers{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  align-items: center;
  justify-items: center;


}
#viewBtn {
  background-color: #28a745;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 18px;
  border: none;
  color: white;
  width: 250px;
  transition: background-color 0.3s ease;

}
p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
#viewBtn:hover {
  background-color: #07771f;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
/*tsindex styling*/
#userManagement{
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}