
body {
  font-family: "Oswald", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}


table{
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: 'Oswald' ,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
  width: 100%;
}
thead {
  background-color: rgb(228 240 245);
}
tr,th,td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

/*index.html styling */
#viewUsers{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  align-items: center;
  width: 200px;

}
#viewBtn {
  background-color: #28a745;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;

}
#viewBtn:hover {
  background-color: #07771f;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
/*tsindex styling*/
#userManagement{
  text-align: center;
  margin-top: 40px;
  background-color: #c2af7c;
}