
body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}


table{
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: 'Oswald' ,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
  width: 100%;
}
thead {
  background-color: rgb(228 240 245);
}
tr,th,td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
#editBtn, #deleteBtn {
  background-color: #b94bd498;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  border-radius: 16px;
  width: 100px;
  transition: background-color 0.3s ease;
}
#editBtn:hover, #deleteBtn:hover {
  background-color: #7e12e4;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}


/*index.html styling */
#viewUsers{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  align-items: center;
  justify-items: center;


}
#viewBtn {
  background-color: #28a745;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 18px;
  border: none;
  color: white;
  width: 250px;
  transition: background-color 0.3s ease;

}
p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
#viewBtn:hover {
  background-color: #07771f;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
/*tsindex styling*/
#userManagement{
  margin-top: 40px;
  padding: 20px;
  display: flex;
  gap: 20px;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#userManagement a {
  background-color: #a5d459;
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 28px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
#userManagement a:hover {
  background-color: #20ce10;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 300px;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  height: 100%;
  background-color: #b3a6a67c;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label
{
  font-size: 18px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 24px;
  font-size: 16px;
}
#registerBtn {
  background-color: #66dac0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}
#registerBtn:hover {
  background-color: #239d88;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  height: 100%;
  background-color: #a5f5d3f8;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#loginBtn {
  background-color: #7b8381;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}
#loginBtn:hover {
  background-color: #0d0e05;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
/*tsiupdate.php styling*/
.user-edited-credentials{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  height: 100%;
  background-color: #b7df27f8;
  width: auto;
  box-shadow: 0 4px 8px rgb(46, 2, 2);
 
}
.user-edited-credentials form {
  display: flex;
  flex-direction: column;
  padding: auto;
  width: 300px;
  max-width: 100%;

}
.user-edited-credentials label {
  font-size: 18px;
  font-weight: medium;
}
h2 {
  text-align: center;
  line-height: 1.2;
  text-decoration: underline;
  margin-bottom: 20px;
  
}
.user-edited-credentials input {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 14px;
  font-size: 16px;
}
.user-edited-credentials input:focus {
  outline: none;
  border-color: #376fb8;
  box-shadow: 0 0 5px rgba(33, 73, 124, 0.678);
}
#updateBtn{
  background-color: #4b73a7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}
#updateBtn:hover {
  background-color: #075579;
  cursor: pointer;
  transition: background-color 0.5s ease;
}